<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
	<test name="Test">
		<classes>
			<class name="testCase.ApiProcessor" />
			<!--<class name="testCase.BaseTester" />  -->
		</classes>
	</test> 
	
	<listeners>
	    <listener class-name ="org.uncommons.reportng.HTMLReporter" ></listener>
	</listeners>
</suite> <!-- Suite -->
